language: php

php:
  - 5.4

env:
  global:
    - PROJECT_NAME=classic
    - SELENIUM_VERSION=2.25.0
    - WORKSPACE=$HOME/builds/myplanetdigital
    - DISPLAY=:99.0
  matrix:
    - DRUSH_VERSION=5.4.0

before_install: bash tmp/scripts/travis_before_install.sh

before_script:  bash tmp/scripts/travis_install.sh

script:         bash tmp/scripts/travis_test.sh
