language: php

php:
  - 5.4

env: DRUSH_VERSION=5.4.0 PROJECT_NAME=classic WORKSPACE=$HOME/builds/myplanetdigital

mysql:
  database: drupal
  username: root
  encoding: utf8

before_install: bash tmp/scripts/travis_before_install.sh

before_script:  bash tmp/scripts/travis_install.sh

script:         bash tmp/scripts/travis_test.sh
